<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <img [routerLink]="['/auth/login']" src="assets/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0">        
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">Bienvenido a Restablecer contraseña</div>
                    <span class="text-600 font-medium">Ingrese el correo electrónico para continuar</span>
                </div>

                <div>
                    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
                        <div class="field mb-4">
                            <label for="email1" class="block text-900 text-xl font-medium mb-2">Correo electrónico</label>
                            <input id="email1" type="email" placeholder="Email address" pInputText class="w-full" 
                                   formControlName="email">
                            <div class="error-container" style="height: 1.5rem;">
                                <small class="p-error block" *ngIf="forgotForm.get('email')?.hasError('required') && forgotForm.get('email')?.touched">
                                    Email es requerido
                                </small>
                                <small class="p-error block" *ngIf="forgotForm.get('email')?.hasError('email') && forgotForm.get('email')?.touched">
                                    Email no válido
                                </small>
                            </div>
                        </div>

                        <button pButton pRipple label="Restablecer Contraseña" class="w-full mt-3 text-xl" 
                                [disabled]="forgotForm.invalid || loading"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>