:host ::ng-deep .pi-eye,
:host ::ng-deep .pi-eye-slash {
    transform:scale(1.6);
    margin-right: 1rem;
    color: var(--primary-color) !important;
}

.error-container {
  min-height: 1.5rem;
  transition: all 0.3s ease;
}

.p-error {
  color: var(--red-500);
  font-size: 0.875rem;
  line-height: 1.25rem;
}