<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/images/logo-white.svg" alt="logo">
        <span>CodeBid</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <button [routerLink]="['/main/profile']" class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Perfil</span>
        </button>
        <button (click)="onLogout()" class="p-link layout-topbar-button">
            <i class="pi pi-power-off"></i>
            <span>Cerrar sesión</span>
        </button>

        <!-- Toggle Switch -->
        <label class="toggle-switch flex mt-2 md:ml-5 px-0 py-3 text-900 font-medium line-height-3">
            <input type="checkbox" [checked]="isDarkMode" (change)="toggleTheme()">
            <span class="slider round">
              <span class="icon sun">☀️</span>
              <span class="icon moon">🌙</span>
            </span>
        </label>
    </div>
</div>