<!-- add-edit-admin.component.html -->
<div class="card">
  <div class="flex justify-content-between align-items-center mb-5">
    <h2>{{ adminId ? 'Editar administrador' : 'Agregar nuevo administrador' }}</h2>
  </div>

  <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
    <div class="grid">
      <!-- Left Column -->
      <div class="col-12 md:col-6">
        <!-- Full Name Field -->
        <div class="field mb-4">
          <label for="full_name" class="block mb-2 font-medium">Nombre completo*</label>
          <input 
            type="text" 
            onkeydown="return /^[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ ]$/.test(event.key) || event.key === 'Backspace' || event.key === 'Delete' || event.key === 'Tab'"
            pInputText 
            id="full_name" 
            formControlName="full_name" 
            class="w-full"
            [ngClass]="{'ng-invalid ng-dirty': submitted && f['full_name'].errors}"
          >
          <small class="p-error block mt-1" *ngIf="submitted && f['full_name'].errors?.['required']">
            Se requiere nombre completo
          </small>
        </div>

        <!-- Email Field -->
        <div class="field mb-4">
          <label for="email" class="block mb-2 font-medium">Correo electrónico*</label>
          <input type="email" [pattern]="emailPattern" pInputText id="email" formControlName="email" class="w-full"
                [ngClass]="{'ng-invalid ng-dirty': submitted && f['email'].errors}">
          <small class="p-error block mt-1" *ngIf="submitted && f['email'].errors?.['required']">
            Se requiere correo electrónico          
          </small>
          <small class="p-error block mt-1" *ngIf="submitted && f['email'].errors?.['email']">
            Por favor, introduzca un correo electrónico válido          
          </small>
        </div>

        <!-- Role Dropdown -->
      </div>

      <!-- Right Column -->
      <div class="col-12 md:col-6">
        <!-- Username Field -->
        <!-- <div class="field mb-4">
          <label for="username" class="block mb-2 font-medium">Nombre de usuario*</label>
          <input type="text" onkeydown="return /[a-ñA-ZÑ, ]/i.test(event.key)" pInputText id="username" formControlName="username" class="w-full"
                [ngClass]="{'ng-invalid ng-dirty': submitted && f['username'].errors}">
          <small class="p-error block mt-1" *ngIf="submitted && f['username'].errors?.['required']">
            El nombre de usuario es obligatorio          
          </small>
        </div> -->

        <!-- Phone Field -->
        <div class="field mb-4" *ngIf="!adminId">
          <label for="phone" class="block mb-2 font-medium">Teléfono</label>
          <input type="text" (input)="formatPhone($event)" pInputText id="phone" formControlName="phone" class="w-full">
        </div>

        <div class="field mb-4" *ngIf="!adminId">
          <label for="password" class="block mb-2 font-medium">Contraseña*</label>
          <input 
            pPassword
            type="password"
            id="password"
            formControlName="password"
            class="w-full"
            [ngClass]="{'ng-invalid ng-dirty': submitted && f['password'].errors}"
            (input)="updatePasswordChecks()"
            [toggleMask]="false"
            [feedback]="false" 
          >
          
          <!-- Checklist manual -->
          <div class="password-checklist mt-2 text-sm" [ngClass]="{'surface-ground': layoutService.config.colorScheme === 'dark'}">                            
            <p class="font-medium mb-2">Requisitos:</p>
            <ul>
              <li class="flex items-center gap-2" [class.text-green-500]="passwordChecks.length">
                <i [class]="passwordChecks.length ? 'pi pi-check-circle' : 'pi pi-circle-off'"></i>
                <span>Mínimo 6 caracteres</span>
              </li>
              <li class="flex items-center gap-2" [class.text-green-500]="passwordChecks.upper">
                <i [class]="passwordChecks.upper ? 'pi pi-check-circle' : 'pi pi-circle-off'"></i>
                <span>1 letra mayúscula (A-Z)</span>
              </li>
              <li class="flex items-center gap-2" [class.text-green-500]="passwordChecks.lower">
                <i [class]="passwordChecks.lower ? 'pi pi-check-circle' : 'pi pi-circle-off'"></i>
                <span>1 letra minúscula (a-z)</span>
              </li>
              <li class="flex items-center gap-2" [class.text-green-500]="passwordChecks.number">
                <i [class]="passwordChecks.number ? 'pi pi-check-circle' : 'pi pi-circle-off'"></i>
                <span>1 número (0-9)</span>
              </li>
              <li class="flex items-center gap-2" [class.text-green-500]="passwordChecks.special">
                <i [class]="passwordChecks.special ? 'pi pi-check-circle' : 'pi pi-circle-off'"></i>
                <span>1 carácter especial (!#$%^&*)</span>
              </li>
            </ul>
          </div>

          <!-- Mensajes de error -->
          <small class="p-error block mt-1" *ngIf="submitted && f['password'].errors?.['required']">
            Se requiere contraseña
          </small>
          <small class="p-error block mt-1" *ngIf="submitted && f['password'].errors?.['minlength']">
            La contraseña debe tener al menos 8 caracteres
          </small>
          <small class="p-error block mt-1" *ngIf="submitted && f['password'].errors?.['passwordStrength']">
            La contraseña no cumple con todos los requisitos
          </small>
      </div>

              <div class="field mb-4" >
          <label for="status" class="block mb-2 font-medium">Estado*</label>
          <p-dropdown [style]="{'width':'100%'}" id="status" formControlName="status" [options]="statuses" 
                      optionLabel="label" optionValue="value" placeholder="Seleccione un estado" class="w-full"
                      [ngClass]="{'ng-invalid ng-dirty': submitted && f['status'].errors}">
          </p-dropdown>
          <small class="p-error block mt-1" *ngIf="submitted && f['status'].errors?.['required']">
            Se requiere estado
          </small>
        </div>
  

          <div class="field mb-4">
            <label for="role" class="block mb-2 font-medium">Role*</label>
            <p-dropdown 
              id="role" 
              formControlName="role" 
              [options]="roles" 
              optionLabel="name" 
              optionValue="id"
              placeholder="Select a role" 
              class="w-full category-dropdown option"
              [ngClass]="{'ng-invalid ng-dirty': submitted && f['role'].errors}">
            </p-dropdown>
            <small class="p-error block mt-1" *ngIf="submitted && f['role'].errors?.['required']">
              Se requiere rol
            </small>
          </div>

      </div>
    </div>

    <!-- Form Actions -->
    <div class="flex justify-content-end gap-3 mt-5">
      <button pButton pRipple label="Cancelar" icon="pi pi-times" 
              class="p-button-outlined p-button-secondary" (click)="onCancel()" [disabled]="loading"></button>
      <button pButton pRipple label="Guardar" icon="pi pi-check" 
              class="p-button-primary" type="submit" [disabled]="loading">
        <i *ngIf="loading" class="pi pi-spinner pi-spin mr-2"></i>
      </button>
    </div>
  </form>
</div>