<div class="card" *ngIf="!showAddEditDialog">
    <div class="flex justify-content-between align-items-center mb-4">
        <h1>Proyectos</h1>
        <!--<button pButton pRipple label="Nuevo proyecto" icon="pi pi-plus" class="p-button-success" (click)="openNew()"></button>-->
    </div>

    <p-table #dt [value]="filteredProjects" [loading]="loading" responsiveLayout="scroll" [rows]="10" 
            [globalFilterFields]="['project_name','description','company.name','category.name','status']" [paginator]="true" 
            [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" 
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" 
            [(selection)]="selectedProjects" selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                <div>
                    <h5 >Filtros: </h5>
                    <p-dropdown [options]="statusFilterOptions" optionLabel="label" optionValue="value" 
                            [(ngModel)]="selectedStatusFilter" (onChange)="filterByStatus()"
                            placeholder="Filtrar por estado" [showClear]="true">
                    </p-dropdown>
                </div>
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..." class="w-full sm:w-auto"/>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="project_name">Nombre <p-sortIcon field="project_name"></p-sortIcon></th>
                <th pSortableColumn="company.name">Empresa <p-sortIcon field="company.name"></p-sortIcon></th>
                <th pSortableColumn="category.name">Categoría <p-sortIcon field="category.name"></p-sortIcon></th>
                <th pSortableColumn="budget">Presupuesto <p-sortIcon field="budget"></p-sortIcon></th>
                <th pSortableColumn="days_available">Días disponibles <p-sortIcon field="days_available"></p-sortIcon></th>
                <th pSortableColumn="status">Estado <p-sortIcon field="status"></p-sortIcon></th>
                <th>Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-project>
            <tr>
                <td>
                    <span class="p-column-title">Nombre</span>
                    {{project.project_name}}
                </td>
                <td>
                    <span class="p-column-title">Empresa</span>
                    {{project.company?.name || 'N/A'}}
                </td>
                <td>
                    <span class="p-column-title">Categoría</span>
                    {{project.category?.name || 'N/A'}}
                </td>
                <td>
                    <span class="p-column-title">Presupuesto</span>
                    {{project.budget | currency}}
                </td>
                <td>
                    <span class="p-column-title">Días disponibles</span>
                    {{project.days_available}}
                </td>
                <td>
                    <span class="p-column-title">Estado</span>
                    <p-tag [severity]="statusMap[project.status]?.severity || 'secondary'" 
                        [value]="statusMap[project.status]?.label || 'Desconocido'"></p-tag>
                <td>
                    <div class="flex gap-2">
                        <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-info ml-2 mr-2" [routerLink]="['/main/view/projects/', project.id]"></button>
                        <!-- @if (project.status === 0) {
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" 
                                (click)="editProject(project)"></button>
                        }@else {
                            <button [disabled]="true" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" 
                                (click)="editProject(project)"></button>
                        }  -->
                        <!-- <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" 
                                (click)="deleteProject(project)"></button> -->
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<app-add-edit-projects
    *ngIf="showAddEditDialog"
    [projectId]="currentProjectId"
    (saved)="onProjectSaved()"
    (cancelled)="showAddEditDialog = false">
</app-add-edit-projects>

<p-dialog [(visible)]="deleteProjectDialog" [style]="{width: '450px'}" header="Confirmar" [modal]="true">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>¿Estás seguro de que quieres eliminar el proyecto <b>{{project.project_name}}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="No" icon="pi pi-times" class="p-button-text" (click)="deleteProjectDialog = false"></button>
        <button pButton pRipple label="Sí" icon="pi pi-check" class="p-button-text" (click)="confirmDelete()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="deleteProjectsDialog" [style]="{width: '450px'}" header="Confirmar" [modal]="true">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>¿Está seguro de que desea eliminar los proyectos seleccionados?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="No" icon="pi pi-times" class="p-button-text" (click)="deleteProjectsDialog = false"></button>
        <button pButton pRipple label="Sí" icon="pi pi-check" class="p-button-text" (click)="confirmDeleteSelected()"></button>
    </ng-template>
</p-dialog>

<p-toast></p-toast>