<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
      <img [routerLink]="['/']" src="assets/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0">
      <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
        <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
          <div class="text-center mb-5">
            <div class="text-900 text-3xl font-medium mb-3">Welcome to Sign In Super Admin</div>
            <span class="text-600 font-medium">Sign in to continue</span>
          </div>
  
          <div>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <!-- username Field -->
              <label for="username" class="block text-900 text-xl font-medium mb-2">Username</label>
              <input formControlName="username" id="username" name="username" type="text" placeholder="Username" pInputText class="w-full md:w-30rem" style="padding:1rem" [ngClass]="{ 'is-invalid': submitted && loginForm.get('username')?.errors }" />
              <div *ngIf="submitted && loginForm.get('username')?.errors" class="invalid-feed mt-1">
                <div *ngIf="loginForm.get('username')?.errors?.['required']">username is required</div>
                <div *ngIf="loginForm.get('username')?.errors?.['pattern']">Invalid username format</div>
              </div>
  
              <!-- Password Field -->
              <label for="password" class="block text-900 font-medium text-xl mb-2 mt-5">Password</label>
              <input formControlName="password" id="password" name="password" type="password" placeholder="Password" pInputText class="w-full md:w-30rem" style="padding:1rem" [ngClass]="{ 'is-invalid': submitted && loginForm.get('password')?.errors }" />
              <div *ngIf="submitted && loginForm.get('password')?.errors" class="invalid-feed mt-1">
                <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</div>
                <div *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters</div>
              </div>
  
              <!-- Remember Me and Forgot Password -->
              <div class="flex align-items-center justify-content-between mb-5 gap-5 mt-5">
                <div class="flex align-items-center">
                  <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                  <label for="rememberme1">Remember me</label>
                </div>
                <!--<a class="font-medium no-underline ml-2 text-right cursor-pointer" [routerLink]="['/auth/forgot-password']" style="color: var(--primary-color)">Forgot password?</a>-->
              </div>
  
              <!-- Submit Button -->
              <button type="submit" pButton pRipple label="Sign In" class="w-full p-3 text-xl"></button>
                            
             <!-- Divider
              <div class="flex align-items-center justify-content-center my-5">
                <div class="border-top-1 border-300 flex-grow-1"></div>
                <span class="px-3 text-600 font-medium">or other method</span>
                <div class="border-top-1 border-300 flex-grow-1"></div>
              </div>

              <button pButton pRipple 
                    type="button" 
                    icon="pi pi-google" 
                    [label]="layoutService.config.colorScheme === 'light' ? 'Sign in with Google' : 'Sign in with Google'" 
                    class="w-full p-3 text-xl" 
                    [style]="layoutService.config.colorScheme === 'light' ? 
                            'background-color: #DB4437; border-color: #DB4437; color: white;' : 
                            'background-color: #DB4437; border-color: #DB4437; color: white;'"
                    (click)="loginWithGoogle()"></button>

              <button pButton pRipple 
                    type="button" 
                    icon="pi pi-github" 
                    [label]="layoutService.config.colorScheme === 'light' ? 'Sign in with GitHub' : 'Sign in with GitHub'" 
                    class="w-full p-3 text-xl mt-6" 
                     [style]="layoutService.config.colorScheme === 'light' ? 
                            'background-color: #333; border-color: #333; color: white;' : 
                            'background-color: #fff; border-color: #fff; color: #333;'"
                    (click)="loginWithGitHub()"></button> -->

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>